<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <br />
  <br /> 
<div class="container">
    <h1>{{project.title}}</h1>
    <div class="project-details">
      <div class="project-details-item">
        <label>Domain:</label>
        <p>Web Development</p>
      </div>
      <div class="project-details-item">
        <label>Payment:</label>
        <p>{{project.payment}} DT</p>
      </div>
      <div class="project-details-item">
        <label>Description:</label>
        <p>{{project.description}}</p>
      </div>
      <div class="project-details-item">
        <label>Dates:</label>
        <p>03/02/2023</p>
      </div>
      <div class="project-details-item">
        <div class="status">
          <label>Current status:</label>
          <span class="badge badge-success">Hiring</span>
        </div>
        
      </div>
    </div>


<br />
<h1>Project recommendations</h1>
<div class="row">
  <div class="col-xl-6 col-lg-6" *ngFor="let proj of projects">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title mb-0">{{proj.title}}</h5>
            <span class="h2 font-weight-bold mb-0">{{proj.payment}} DT</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <button class="btn btn-icon btn-2 btn-danger" type="button" (click)="goToDetail(proj.id)">
            <span class="btn-inner--icon"><i class="ni ni-atom"></i> Details</span>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
