.card-columns {
    column-count: 3;
    column-gap: 1rem;
}

.card {
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.2;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}