.floating-div {
    position: relative;
    top: -350px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #4b4b4b;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px #d8d8d8;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #4b4b4b;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td ul {
    margin: 0;
    padding: 0;
}

td ul li {
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

td ul li:before {
    content: "•";
    color: #e74c3c;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}